:root {
  --main-color: #FF9671
}

* {
  background-color: var(--main-color);
}
body {
  display: grid;
  grid-template-rows: 95vh 5vh;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  text-align: center;
}

#list {
  margin-top: 3rem;
}

#list ul {
  list-style: none;
}